@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----------Dragble csss-------- */

/*-----------Dragble csss-------- */
.draggable-container {
	display: flex;
	flex-direction: column;
	padding: 16px;
}

.draggable-element {
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	margin-bottom: 8px;
	padding: 12px;
	cursor: grab;
	transition: all 0.3s ease;
}

.draggable-element:active {
	cursor: grabbing;
}

.select-input,
.select-btn {
	opacity: 0;
	transition: all;
	transition-duration: 0.5s;
}

.gallery-image:hover .select-input,
.gallery-image:hover .select-btn {
	opacity: 100;
}
